{% extends "cal/base.html" %}
{% block content %}
    <h1>About Page</h1>

    <p style="font-size:130%;">
        up2date is a single day supplemental Google calendar application.
        <br> To use the application, please use the following steps:
        <ol>
            <li>Navigate to the <a href="{% url 'calendar-home' %}">homepage</a></li>
            <li>Create a new time or select an existing time</li>
            <li>Select the new time to start highlighting dates</li>
            <li>Select dates on the calendar</li>
            <li>Once you have selected one or more dates, you can click [Sign in to Google and Post]</li>
            <li>Login to your google account in the following screen</li>
            <li>Review the submission success message</li>
            <li>Congratulations, you posted to your calendar!</li>
        </ol>
    </p>
{% endblock content %}