{% extends "cal/base.html" %}
{% load static %}
{% block content %}
    <body>
        <div class="container1" id="container1">
            <h1 class="w3-animate-top" id="titleMain" style="margin:0;">Add to Calendar</h1>
        </div>

        <div class="container-month-year w3-animate-top" id="container-month-year" >
            <h1 id="month-year" style="margin:0;"></h1>
            <button type="button" class="btnNav" id="prevMonth" onclick="prev()">Previous Month</button>
            <button type="button" class="btnNav" id="nextMonth" onclick="nxt()">Next Month</button>
        </div>

        <div id = "calContainer" style="float: left;"></div>
        <p id="stat">text</p>
        <p id="stat1">text</p>
        <p id="stat3">text</p>
        <p id="stat4">text</p>
        <h1 id="stat2">text2</h1>
    
    <script type="text/javascript" src="{% static 'cal/script.js' %}"></script>
    </body>
{% endblock content %}