{% extends "cal/base.html" %}
{% load static %}
{% block content %}

    <body>

        <!-- dynamically populated calendar -->
        <div class="container-month-year w3-animate-top" id="container-month-year" >
            <h1 id="month-year" style="margin:0; padding-bottom:1%;"></h1>
        </div>
        <div style="padding-bottom:.2%;">
            <button type="button" class="btn btn-primary" id="prevMonth" onclick="prev()">Previous Month</button>
            <button type="button" class="btn btn-primary" id="nextMonth" onclick="nxt()">Next Month</button>
        </div>
        <div id = "calContainer" style="float: left;"></div>
    
        <!-- Add a new time -->
        <a class="nav-item nav-link" href="{% url 'time-create' %}">New Time</a>
        <!-- shift selection -->
        <h1>Shift Types</h1>
        {% for time in c_save %}   
            <p>
                <button type="button" class="btnShift" id="shift{{ forloop.counter }}" onclick="highlightShift('shift{{forloop.counter}}')">
                    {{ time.title}}
                </button>
                <a class="article-title" href="{% url 'time-detail' time.id %}">
                    Start Time: {{ time.start_time|date:"G:i" }}   End Time: {{time.end_time|date:"G:i"}} Days: {{time.days}}
                </a>
            </p>
        {% endfor %}

    <script type="text/javascript" src="{% static 'cal/script.js' %}"></script>
    </body>
{% endblock content %}