{% extends "cal/base_home.html" %}
{% load static %}
{% block content %}

    <body>

        <!-- dynamically populated calendar -->
        <div class="col-sm">
            <div class="container-month-year w3-animate-top" id="container-month-year" >
                <h1 id="month-year" style="margin:0; padding-bottom:1%;"></h1>
            </div>
            <div style="padding-bottom:.2%;">
                <button type="button" class="btn btn-primary" id="prevMonth" onclick="prev()">Previous Month</button>
                <button type="button" class="btn btn-primary" id="nextMonth" onclick="nxt()">Next Month</button>
            </div>
            <div id = "calContainer" style="float: left; margin-bottom: 2%;"></div>
        </div>

        <div class="col-sm" style="margin-top: 8%;">

        <!-- shift selection -->
        <h1>Shift Types</h1>
        {% if c_save|length > 4%}
            <button type="button" class="btn btn-danger" disabled>New Time</button>
            <p>Cannot add a new time, only a maximum of 5 times can be added.  Please delete to add more.</p>
        {% else %}
            <a class="btn btn-primary" href="{% url 'time-create' %}">New Time</a>
        {% endif %}
        <p style="margin-top: 3%;">
        {% for time in c_save %}   
            <div>
                <button type="button" class="btn-time shift" id="shift{{ forloop.counter }}" onclick="highlightShift('shift{{forloop.counter}}')">{{ time.title}}</button>
                <a class="time-title" href="{% url 'time-detail' time.id %}">
                Start Time: 
                <span id="start-time{{ forloop.counter }}">{{ time.start_time|date:"G:i" }}</span>
                End Time: 
                <span id="end-time{{ forloop.counter }}">{{time.end_time|date:"G:i"}}</span>
                </a>
            </div>
        {% endfor %}

    <!-- Google Calendar API Button -->
    <h1>Submit to Google Calendar</h1>
    <button id="authorize-button" class="btn btn-success" style="display: none;" disabled>Sign in to Google and Post</button>
    </div>

    <!-- Calendar confirmation modal -->
    <div id="calModal" style="display: none;" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h1 id="modal-title"></h1>
            <p id="modal-message"></p>
        </div>
    </div>
    
    <!-- masked config file -->
    <script>
        var GOOG_CAL_CLIENT_ID = '{{ GOOG_CAL_CLIENT_ID }}';
        var GOOG_API_KEY = '{{ GOOG_API_KEY }}';
    </script>
    <script type="text/javascript" src="{% static 'cal/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'cal/cal_api.js' %}"></script>
    <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    </body>
{% endblock content %}