{% extends "cal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- notes for parameters -->
    <div class="alert alert-info">
        <strong>Note:</strong>
        <ul>
            <li>Start and end times are in military time. Ex: 23:00 is 11PM</li>
            <li>Start time must be smaller than end time</li>
            <li>Title is max 20 characters</li>
        </ul>
    </div>

    <!-- Add time form -->
    <div class="content-section ">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Time
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Submit Time
                </button>
            </div>
        </form>
    </div>

{% endblock content %}