body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .container-month-year h1 {
    font-size: 450%;
    margin: 0
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }



  table{
    float:left;
    border: 1px solid black;
}
h4{
    float:left;
    white-space: pre-line;
}


#shift1{
    background-color: #0099CC;
}

#shift2{
    background-color: #007E33;
}

#shift3{
  background-color: #FF8800;
}

#shift4{
  background-color: #CC0000;
}

#shift5{
  background-color: #9933CC;
}
.btn-time {
    border: none;
    color: white;
    width: 40%;
    padding: 3px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.4;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}


.calendar-td {
  width: 200px;
  height: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: #ECECEC;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}


.calendar-btn:hover {
  opacity: 1
}

.calendar-btn {
  width: 100%;
  height: 100%;
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.4;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.container1{
    height: 100px;
    width: 100%;
}

.container2{
    height: 50px;
    width: 100%;
}

.font-title{
    font-size: 400%;
    font-family: Lato;
}
@keyframes opac{from{opacity:0} to{opacity:1}}

.w3-animate-right{position:relative;animation:animateright 0.7s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-right2{position:relative;animation:animateright 0.8s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-right3{position:relative;animation:animateright 1.2s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-right4{position:relative;animation:animateright 1.6s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-right5{position:relative;animation:animateright 2s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

.w3-animate-top{position:relative;animation:animatetop 1s, opac 1.8s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}